{
    Language: Cpp,
    BasedOnStyle: WebKit,
    AlignAfterOpenBracket: Align,
    # may cause some problem while inline comment after a array object
    AlignArrayOfStructures: Right,
    AlignConsecutiveBitFields: Consecutive,
    AlignEscapedNewlines: DontAlign,
    BreakBeforeBinaryOperators: NonAssignment,
    AlignOperands: Align,
    AlignTrailingComments: true,
    PointerAlignment: Left,
    AllowShortBlocksOnASingleLine: Always,
    AllowShortCaseLabelsOnASingleLine: true,
    AllowShortIfStatementsOnASingleLine: WithoutElse,
    BitFieldColonSpacing: After,
    BreakConstructorInitializers: AfterColon,
    BreakInheritanceList: AfterColon,
    Cpp11BracedListStyle: false,
    BreakBeforeBraces: Custom,
    BraceWrapping:
        {
            AfterCaseLabel: false,
            AfterStruct: false,
            SplitEmptyFunction: false,
            AfterFunction: false,
            BeforeElse: false,
            BeforeWhile: false,
        },
    IndentCaseBlocks: false,
    IndentCaseLabels: true,
    IndentPPDirectives: BeforeHash,
    UseTab: ForContinuationAndIndentation,
    IndentWidth: 4,
    TabWidth: 4,
    SpaceBeforeParens: Custom,
    SpaceBeforeParensOptions:
        {
            AfterControlStatements: false,
            AfterFunctionDeclarationName: false,
            AfterFunctionDefinitionName: false,
            BeforeNonEmptyParentheses: false,
        },
    SpaceBeforeSquareBrackets: false,
    SpaceInEmptyBlock: false,
    SpaceInEmptyParentheses: false,
    SpacesInCStyleCastParentheses: false,
    SpacesInConditionalStatement: false,
    SpacesInParentheses: false,
    SpacesInSquareBrackets: false,
    MaxEmptyLinesToKeep: 1,
    SpaceAfterCStyleCast: false,
    SpaceAfterLogicalNot: false,
    SpaceBeforeAssignmentOperators: true,
    SpaceBeforeCaseColon: false,
    SortIncludes: false,
}
